


.consultants {
    .container {
        @media(max-width: $bp-small){
            max-width: unset; 
            margin: unset; 
            width: unset;
        }
    }
    &__top {
        display: flex;
        margin-bottom: 6.25rem;
        gap: 6.25rem;
        @media(max-width: $bp-small){
            display: block;
            text-align: center;
            margin-bottom: 5rem;
        }
        .top-left {
            flex: 1;
            p{
                @media(max-width: $bp-small){
                    margin-bottom: 1.625rem;
                    padding: 0 10%;
                }
            }
            h1 {
                @media(max-width: $bp-small){
                    margin-bottom: 1.625rem;
                }
            }
        }
        .top-right {
            display: flex;
            flex-direction: column;
            .bold {
                font-weight: 600;
                @media(max-width: $bp-small){
                    margin-top: 1.875rem;
                    margin-bottom: 0.625rem
                }
            }
            .address-wrapper {
                margin-bottom: 18px;
                @media(max-width: $bp-small){
                    margin-bottom: 0.625rem
                }
                p {
                    margin-bottom: 0;
                }

            }
            .phone {
                font-size: 1.25rem;
                font-weight: 300;
                line-height: 150%;
                font-family: "Inter";
                @media(max-width: $bp-small){
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
    &__body {
        background: white;
        padding: 53px 80px;
        border-radius: 10px;
        position: relative;
        @media(max-width: $bp-small){
            padding: 53px 20px 152px 20px;
            border-radius: 0;
        }
    }
}