

.leadership-hero {
    padding: 5rem 0;
    .leadership-hero-wrapper {
        .titles-wrapper {
            text-align: center;
            margin-bottom: 5rem;
            .leadership-hero-title {
    
            }
            .leadership-hero-subtitle {
                
            }

        }
        .leadership-hero-image {
            width: 100%;
            height: auto;
        }
    }
}